:root
{
    --alto:300px;
    --ancho:300px;
}

*
{
    box-sizing: border-box;
}
body
{
    
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 900px;
    
}
.contenedor
{
    width: var(--ancho);
    height: var(--alto);
    transform-style:preserve-3d ;
    position: relative;
    transition: 5s;
    animation: rotarcubo 5s linear infinite;


    & .cara 
    {
        width: var(--ancho);
        height: var(--alto);
        background-color: rgb(65, 57, 57,0.3);
        border: 2px solid rgb(132, 9, 255);
        position: absolute;
        
    }

    & .c1
    {
        background-color:rgb(132, 66, 197);
        transform: translate(100px, 0px) rotateY(90deg);
        background:url(https://assets.pokemon.com/assets/cms2/img/pokedex/detail/005.png) center no-repeat,rgb(132, 66, 197) ;
       
    }
    & .c2
    {
        
        transform: translate(-100px, 0) rotateY(90deg);
        background:url(https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png) center no-repeat,rgb(214, 40, 40)
    }
    & .c3
    {
        transform: translate(0,100px) rotateX(90deg);
        background:url(https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png) center no-repeat, rgb(0, 102, 255);
    }
    & .c4
    {
        transform: translate(0,-100px) rotateX(90deg);
        background:url(https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png) center no-repeat, rgb(0, 102, 255);

    }
    & .c5
    {
        transform: translateZ(100px);
        background:url(https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png) center no-repeat, rgb(0, 102, 255);
    }
    & .c6
    {
        transform: translateZ(-100px);
        background:url(https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png) center no-repeat, rgb(0, 102, 255);
    }
}

@keyframes rotarcubo
{
    0%
    {
        transform: rotateX(0deg) rotateY(0deg) translateZ(0px);
    }
    100%
    {
        transform: rotateX(0deg) rotateY(360deg) translateZ(0px);
    }
}